body {
  text-align: center;
  margin: 0 auto;
  background-color: bisque;
}

.title {
  font-family: 'SF Comic Script Shaded', arial;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
  font-style: italic;
}

.dewey {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.container {
  display:flex;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
}

img {
  width:100px;
  height: 100px;
  text-align: center;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
}