body {
  text-align: center;
  margin: 0 auto;
}

.title {
  font-family: 'SF Comic Script Shaded', arial;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
  font-style: italic;
}

.dewey {
  width: 100%;
  height: auto;
  max-width: 250px;
}

