body {
  text-align: center;
  margin: 0 auto;
  background-color: bisque;
}

.title {
  font-family: 'SF Comic Script Shaded', arial;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
  font-style: italic;
}

.dewey {
  width: 100%;
  height: auto;
  max-width: 250px;
  float: right;
  /* padding: 5vh 20vw 5vh 5vw; */
  margin: 10px;
}

.words {
  float: left;
  /* padding: 15vh 5vw 10vh 20vw; */
  margin: 10px;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.container {
  display:flex;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
}

.image {
  width:300px;
  height: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
}

.description {
  padding-top: 40vh;
}